# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build output
# =========================
out/
build/
target/

# =========================
# Java
# =========================
*.class

# =========================
# OS junk files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
